<%= render 'shared/navbar' %>
<!-- <div class="full-page"> -->
<!-- <div class="top-mini-banner"> -->
    <%#= image_tag "news_club_logo_new.png", class: "top-mini-banner" %>
<!-- </div> -->
<!-- menu -->
<!--
<button class="quota-button mdl-shadow--2dp"><%= current_user.readings.count %>/<%= current_user.subscription.plan.amount { |match|  } %> <br> read</button>-->

<!-- QUOTA -->

<!--
<button class="quota-button mdl-button mdl-js-button mdl-button--fab mdl-button--colored">
    <i>
        <%= current_user.readings.count %>/
        <%= current_user.subscription.plan.amount { |match|  } %></i>
</button>-->
<!--  -->
<!-- end menu -->
<%= render 'shared/home-navigation' %>
<a href="#">
    <div class="todays-curated">
      <%= cl_image_tag ("annie-spratt-unsplash.jpg") %>
        <div class="text-container">
            <h5>Featured story of the day</h5>
            <h4>Le Monde Diplomatique</h4>
            <h3>Tanzania revives rail</h3>
            <h6>Freight or passengers, old or new track?</h6>
            <p>February 2019</p>
            <p style="font-size: 15px; font-family: 'Merriweather'">There’s exploding demand for new rail infrastructure in East Africa, but whose interests will ambitious — and very expensive — new projects serve?</p>
        </div>
        <!-- <div class="image-container"></div> -->
    </div>
</a>
<div class="lower-content">
    <div class="left">
        <h3 style="font-family: 'Merriweather'; border-bottom: 1px solid rgb(0,174,239);">Top recent articles</h3>
        <div class="more-articles-list">
            <% @all_user_articles[0..33].each do |a|%>
            <%= link_to article_path(a) do %>
            <%= render 'shared/long-card', a: a%>
            <% end %>
            <% end %>
            <!-- @all_user_articles.each do -->
        </div>
        <!-- </div> -->
    </div>
    <div class="right"></div>
</div>
