<%#= render 'shared/banner'%>
<div>
<%= render 'shared/banner'%>
</div>
<div>
<%= render 'shared/navigation', articles: @articles%>
</div>
<!-- <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored" style="position: fixed;top:200px;left:200px;z-index:9001">
  <i class="material-icons">remove</i>
</button> -->

<!-- <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" style="position: fixed;top:300px;left:300px;z-index:9001">
  <i class="material-icons">add</i>
</button> -->

<!-- Wide card with share menu button -->

<!-- <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" style="position: fixed;top:350px;left:300px;z-index:9001">
  <i class="material-icons">add</i>
</button> -->
<% unless signed_in? %>
  <%= link_to new_user_registration_path do %>
    <div class="cta">
      <div id="content"><b>Join the News Club! 10 stories only 5€/mo.</b></div>
    </div>
  <% end %>
<% end %>



<%# @articles.each do |a| %>
  <%#= link_to article_path(a) do %>
    <%#= render 'shared/newscard', article: a %>
  <%# end %>
<%# end %>


<div>
  <% if signed_in? %>
  <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
              <% end %>
  <% else %>
    <%= link_to 'Register', new_user_registration_path %>
    <%= link_to 'Log in',  new_user_session_path %>
  <% end  %>
</div>

