<%= render 'shared/navbar' %>

<% html_file = open(@article.url).read %>
<% html_doc = Nokogiri::HTML(html_file) %>
<%#= @article.url %>
<div class="article-card mdl-shadow--4dp">

  <%= image_tag @article.image %>
  <h3><%= @article.title %></h3>

  <% html_doc.search('.body-content p').each do |element| %>
    <p><%= element.text.strip %></p>
  <% end %>

  <% html_doc.search('.content__article-body p').each do |element| %>
    <p><%= element.text %></p>
  <% end %>

  <% html_doc.search('.story-text p').each do |element| %>
    <p><%= element.text %></p>
  <% end %>

  <% html_doc.search('.article-body p').each do |element| %>
    <p><%= element.text %></p>
  <% end %>

  <% html_doc.search('.article__content p').each do |element| %>
    <p><%= element.text %></p>
  <% end %>

  <% html_doc.search('.article-content p').each do |element| %>
    <p><%= element.text %></p>
  <% end %>

</div>
