<div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
    <div class="mdl-tabs__tab-bar">
        <a href="#latest" class="mdl-tabs__tab is-active">LATEST</a>
        <a href="#themes" class="mdl-tabs__tab">THEMES</a>
        <a href="#curated" class="mdl-tabs__tab">CURATED</a>
        <a href="#favourites" class="mdl-tabs__tab">FAVOURITES</a>
        <a href="#bookmarks" class="mdl-tabs__tab">BOOKMARKED</a>
        <a href="#history" class="mdl-tabs__tab">MY HISTORY</a>
        <%= link_to("MY PREFRENCES", preferences_path, class: "mdl-tabs__tab") %>
        <!-- <a href="#preferences" class="mdl-tabs__tab">MY PREFRENCES</a> -->
    </div>
    <div class="mdl-tabs__panel is-active" id="latest">
        <div class="test">
            <div class="articles-field">
                <!-- <div class="mdl-grid"> -->
                <% @all_user_articles[0..3].each do |a| %>
                <%= link_to(article_path(a)) do %>
                <!-- <div class="mdl-cell mdl-cell--4-col"> -->
                <%= render 'shared/article-card-home', a: a %>
                <!-- </div> -->
                <% end %>
                <% end %>
                <!-- </div> -->
            </div>

            <div class="recommendations-list">
              <div class="new-quota">
                <h1><%= current_user.readings.count %>/<%= current_user.subscription.plan.amount %></h1>
                <h3>Articles read</h3>


             </div>

                <h3 style="font-weight: lighter; border-bottom: 1px solid rgb(236,0,140)">Most read today</h3>
                <ul style="list-style: none;">
                    <li>
                      <a href="#">
                        <div class="recommendation-item">
                          <div class="number-div">
                            <h6>01</h6>
                          </div>
                          <div class="text-container">
                              <h5>A True Story of the Future</h5>
                              <h4>Karl Kautsky</h4>
                              <p>Jacobin, March 2019</p>
                          </div>
                        </div>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <div class="recommendation-item">
                          <div class="number-div">
                            <h6>02</h6>
                          </div>
                          <div class="text-container">
                              <h5>Climate study warns of vanishing safety window</h5>
                              <h4>Stephen Leahy</h4>
                              <p>National Geographic, February 2019</p>
                          </div>
                        </div>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <div class="recommendation-item">
                          <div class="number-div">
                            <h6>03</h6>
                          </div>
                          <div class="text-container">
                              <h5>Journey to Antarctica</h5>
                              <h4>Jeff Goodell</h4>
                              <p>Rolling Stone, March 2019</p>
                          </div>
                        </div>
                        </a>
                    </li>
                    <li>
                      <a href="#">
                        <div class="recommendation-item">
                          <div class="number-div">
                            <h6>04</h6>
                          </div>
                          <div class="text-container">
                              <h5>My Dog, the Illness Psychic</h5>
                              <h4>Amanda Mull</h4>
                              <p>The Atlantic, March 2019</p>
                          </div>
                        </div>
                        </a>
                    </li>
                    <li>
                      <a href="#">
                        <div class="recommendation-item">
                          <div class="number-div">
                            <h6>05</h6>
                          </div>
                          <div class="text-container">
                              <h5>The Blood Is Still There</h5>
                              <h4>Noel Gallagher Shannon</h4>
                              <p>Harper's Magazine, March 2019</p>
                          </div>
                        </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="mdl-tabs__panel" id="themes">
        <div class="test">
            <div class="articles-field">
                <!-- <div class="mdl-grid"> -->
                <% @all_user_articles.each do |a| %>
                <%= link_to article_path(a) do %>
                <!-- <div class="mdl-cell mdl-cell--4-col"> -->
                <%= render 'shared/article-card', a: a %>
                <!-- </div> -->
                <% end %>
                <% end %>
                <!-- </div> -->
            </div>
            <div class="recommendations-list">
                <h3>Most read on theme:</h3>
                <ul style="list-style: none;">
                    <li>
                        <div class="recommendation-item"></div>
                    </li>
                    <li>
                        <div class="recommendation-item"></div>
                    </li>
                    <li>
                        <div class="recommendation-item"></div>
                    </li>
                    <li>
                        <div class="recommendation-item"></div>
                    </li>
                    <li>
                        <div class="recommendation-item"></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="mdl-tabs__panel" id="history">
        <div class="lower-content">
            <div class="left">
                <h3>My last read articles</h3>
                <div class="more-articles-list">
                    <% @user_read_articles.reverse.each do |a| %>

                      <%= link_to article_path(a) do %>

                        <%= render 'shared/long-card', a: a %>
                      <% end %>
                    <% end %>
                    <!-- @all_user_articles.each do -->
                </div>
                <!-- </div> -->
            </div>
            <div class="right"></div>
        </div>
    </div>
    <div class="mdl-tabs__panel" id="curated">
        <div class="mdl-grid">
            <% @all_user_articles.each do |a| %>
            <%= link_to article_path(a) do %>
            <div class="mdl-cell mdl-cell--4-col">
                <%= render 'shared/article-card', a: a %>
            </div>
            <% end %>
            <br>
            <% end %>
        </div>
    </div>
    <div class="mdl-tabs__panel" id="favourites">
        <div class="mdl-grid">
            <% @all_user_articles.each do |a| %>
            <%= link_to article_path(a) do %>
            <div class="mdl-cell mdl-cell--4-col">
                <%= render 'shared/article-card', a: a %>
            </div>
            <% end %>
            <br>
            <% end %>
        </div>
    </div>
    <div class="mdl-tabs__panel" id="bookmarks">
        <div class="mdl-grid">
            <% @all_user_articles.each do |a| %>
            <%= link_to article_path(a) do %>
            <div class="mdl-cell mdl-cell--4-col">
                <%= render 'shared/article-card', a: a %>
            </div>
            <% end %>
            <br>
            <% end %>
        </div>
    </div>
</div>
