<div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
    <div class="mdl-tabs__tab-bar">
        <a href="#latest" class="mdl-tabs__tab is-active">LATEST</a>
        <a href="#themes" class="mdl-tabs__tab">THEMES</a>
        <a href="#curated" class="mdl-tabs__tab">CURATED</a>
        <a href="#favourites" class="mdl-tabs__tab">FAVOURITES</a>
        <a href="#bookmarks" class="mdl-tabs__tab">BOOKMARKED</a>
        <a href="#history" class="mdl-tabs__tab">MY HISTORY</a>
        <%= link_to("MY PREFRENCES", preferences_path, class: "mdl-tabs__tab") %>
        <!-- <a href="#preferences" class="mdl-tabs__tab">MY PREFRENCES</a> -->
    </div>
    <div class="mdl-tabs__panel is-active" id="latest">
        <div class="test">
            <div class="articles-field">
                <!-- <div class="mdl-grid"> -->
                <% @all_user_articles.each do |a| %>
                <%= link_to article_path(a) do %>
                <!-- <div class="mdl-cell mdl-cell--4-col"> -->
                <%= render 'shared/article-card', a: a %>
                <!-- </div> -->
                <% end %>
                <% end %>
                <!-- </div> -->
            </div>
            <div class="recommendations-list">
                <h3>Most read today:</h3>
                <ul style="list-style: none;">
                    <li>
                        <div class="recommendation-item"></div>
                    </li>
                    <li>
                        <div class="recommendation-item"></div>
                    </li>
                    <li>
                        <div class="recommendation-item"></div>
                    </li>
                    <li>
                        <div class="recommendation-item"></div>
                    </li>
                    <li>
                        <div class="recommendation-item"></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="mdl-tabs__panel" id="themes">
        <div class="test">
            <div class="articles-field">
                <!-- <div class="mdl-grid"> -->
                <% @all_user_articles.each do |a| %>
                <%= link_to article_path(a) do %>
                <!-- <div class="mdl-cell mdl-cell--4-col"> -->
                <%= render 'shared/article-card', a: a %>
                <!-- </div> -->
                <% end %>
                <% end %>
                <!-- </div> -->
            </div>
            <div class="recommendations-list">
                <h3>Most read on theme:</h3>
                <ul style="list-style: none;">
                    <li>
                        <div class="recommendation-item"></div>
                    </li>
                    <li>
                        <div class="recommendation-item"></div>
                    </li>
                    <li>
                        <div class="recommendation-item"></div>
                    </li>
                    <li>
                        <div class="recommendation-item"></div>
                    </li>
                    <li>
                        <div class="recommendation-item"></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="mdl-tabs__panel" id="history">
        <div class="lower-content">
            <div class="left">
                <h3>Header</h3>
                <div class="more-articles-list">
                    <% @user_read_articles.each do |a| %>

                      <%= link_to article_path(a) do %>

                        <%= render 'shared/long-card', a: a %>
                      <% end %>
                    <% end %>
                    <!-- @all_user_articles.each do -->
                </div>
                <!-- </div> -->
            </div>
            <div class="right"></div>
        </div>
    </div>
    <div class="mdl-tabs__panel" id="curated">
        <div class="mdl-grid">
            <% @all_user_articles.each do |a| %>
            <%= link_to article_path(a) do %>
            <div class="mdl-cell mdl-cell--4-col">
                <%= render 'shared/article-card', a: a %>
            </div>
            <% end %>
            <br>
            <% end %>
        </div>
    </div>
    <div class="mdl-tabs__panel" id="favourites">
        <div class="mdl-grid">
            <% @all_user_articles.each do |a| %>
            <%= link_to article_path(a) do %>
            <div class="mdl-cell mdl-cell--4-col">
                <%= render 'shared/article-card', a: a %>
            </div>
            <% end %>
            <br>
            <% end %>
        </div>
    </div>
    <div class="mdl-tabs__panel" id="bookmarks">
        <div class="mdl-grid">
            <% @all_user_articles.each do |a| %>
            <%= link_to article_path(a) do %>
            <div class="mdl-cell mdl-cell--4-col">
                <%= render 'shared/article-card', a: a %>
            </div>
            <% end %>
            <br>
            <% end %>
        </div>
    </div>
</div>
