<div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
    <div class="mdl-tabs__tab-bar">
        <a href="#starks-panel" class="mdl-tabs__tab is-active">POLITICS</a>
        <a href="#lannisters-panel" class="mdl-tabs__tab">ENVIRONMENT</a>
        <a href="#targaryens-panel" class="mdl-tabs__tab">CULTURE</a>
        <a href="#lannisters-panel" class="mdl-tabs__tab">TECHNOLOGY</a>
        <a href="#targaryens-panel" class="mdl-tabs__tab">ENTERTAINMENT</a>
        <a href="#lannisters-panel" class="mdl-tabs__tab">SCIENCE</a>
        <a href="#targaryens-panel" class="mdl-tabs__tab">SPORTS</a>
        <a href="#starks-panel" class="mdl-tabs__tab">CURATED</a>
        <a href="#targaryens-panel" class="mdl-tabs__tab">FINANCE</a>
    </div>
    <div class="mdl-tabs__panel is-active" id="starks-panel">
        <div class="mdl-grid">

            <% @articles.shuffle[0..5].each do |a| %>
            <%= link_to article_path(a) do %>
            <div class="mdl-cell mdl-cell--4-col">
                <%= render 'shared/article-card', a: a %>
            </div>
            <% end %>
            <br>

            <% end %>
        </div>
    </div>
    <div class="mdl-tabs__panel" id="lannisters-panel">
        <div class="mdl-grid">
            <% @articles.shuffle.each do |a| %>
            <%= link_to article_path(a) do %>
            <div class="mdl-cell mdl-cell--4-col">
                <%= render 'shared/article-card', a: a %>
            </div>
            <% end %>
            <br>
            <% end %>
        </div>
    </div>
    <div class="mdl-tabs__panel" id="targaryens-panel">
        <div class="mdl-grid">
            <% @articles.shuffle.each do |a| %>
            <%= link_to article_path(a) do %>
            <div class="mdl-cell mdl-cell--4-col">
                <%= render 'shared/article-card', a: a %>
            </div>
            <% end %>
            <br>
            <% end %>
        </div>
    </div>
</div>


