<style>
/*.mdl-button {
    padding: 6px 26px !important;
    color: #F9F9F9 !important;
}
*/
.menu-div {
    z-index: 2 !important;
    position: absolute;
    left: 93%;
    top: 0%;
}

.center {
    /*position: absolute;*/
    /*left: 2%;*/
    /*top: 2%;*/
    margin-right: auto;
    /*margin-bottom: 40px;*/
    width: 92%;
    padding: 10px;
    overflow: hidden;
    z-index: 1;
}
</style>
<div class="menu-div" style="z-index: 15;">
    <button class="menu-button mdl-button mdl-js-button mdl-button--fab mdl-button--colored" id="demo-menu-lower-right">
        <i class="material-icons" style="color: white;">more_vert</i>
    </button>
    <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="demo-menu-lower-right">
        <% if signed_in? %>
        <%= link_to preferences_path do%>
        <li class="mdl-menu__item">Preferences</li>
        <% end %>
        <%= link_to home_path(id: current_user.id) do%>
        <li class="mdl-menu__item" style="color: rgb(0,174,239)">My News Club</li>
        <% end %>
        </li>
        <% else %>
        <%= link_to new_user_session_path do %>
        <li class="mdl-menu__item">Sign in</li>
        <% end %>
        <%= link_to new_user_registration_path do%>
        <li class="mdl-menu__item">Register</li>
        <% end %>
        <% end %>
        <li class="mdl-menu__item">About news club</li>
        <li class="mdl-menu__item">Partners</li>
        <!-- <li class="mdl-menu__item mdl-menu__item--full-bleed-divider">Another Action</li> -->
        <!-- <li disabled class="mdl-menu__item">Disabled Action</li> -->
        <li class="mdl-menu__item">FAQ</li>
        <% if signed_in? %>
        <%= link_to destroy_user_session_path, method: :delete do %>
        <li class="mdl-menu__item">Log out</li>
        <% end %>
        <% end %>
    </ul>
</div>
<div class="center">
    <%= image_tag "news_club_logo_new.png", height: 60 %>
</div>
