<div>
  <%= render 'shared/banner'%>
</div>

<div class="top">
    <h1>News Club</h1>
    <h2>Instant access to the best journalism online</h2>
</div>
<div id="trapezoid-c"></div>
<div id="trapezoid-m"></div>
<div id="trapezoid-y"></div>
<br>
<br>

<!-- <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored" style="position: fixed;top:200px;left:200px;z-index:9001">
  <i class="material-icons">remove</i>
</button> -->

<!-- <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" style="position: fixed;top:300px;left:300px;z-index:9001">
  <i class="material-icons">add</i>
</button> -->

<!-- Wide card with share menu button -->

<!-- <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" style="position: fixed;top:350px;left:300px;z-index:9001">
  <i class="material-icons">add</i>
</button> -->

<div class="anything">
  <div id="content">Join the News Club! 10 articles/5€/month</div>
</div>

<div>
  <%= render 'shared/navigation'%>
</div>

<% require 'open-uri' %>
<% require 'json' %>

<% url = 'https://newsapi.org/v2/top-headlines?'\
      'sources=bbc-news,the-washington-post&'\
      "apiKey=#{ENV['NEWSAPI_API_KEY']}" %>
<% req = open(url) %>
<% response_body = req.read %>
<% articles_json = JSON.parse(response_body) %>
<% articles_array = articles_json["articles"] %>
<% articles_array.each do |a| %>
  <%= render 'shared/testcard', article: a %>
  <br>
<% end %>

<div>
  <%= link_to 'Register', new_user_registration_path %>
  <%= link_to 'Log in',  new_user_session_path %>
</div>


