<style>
.subscription-container {
  margin-bottom: 70px;
}
.p-card__feature {
  text-align: center;
}
}
</style>
<!-- BODY -->
<div class="subscription">
  <div class="nc-bars">
    <div id="trapezoid-c"></div>
    <div id="trapezoid-m"></div>
    <div id="trapezoid-y"></div>
    </div>
    <br>
    <div class="subscription" style="display: flex; flex-direction: column; justify-content: space-around; margin-top: 54px;">
    <h2 style="text-align: center;">Please choose a plan</h2>
    </div>
    <div class="subscription-container">
        <!-- <div class="center-plan3 mdl-shadow--2dp"> -->
          <div class ="plan-card mdl-shadow--2dp">
            <div class="p-card-heading">
                <div class="p-card__title">Regular</div>
                <div class="p-card__price"><span class="currency">5</span>€</div>
                <div class="p-card__per">10 Articles / month</div>
                <div class="p-card__separator"></div>
            </div>
            <div class="p-card__body">
                <ul class="p-card__feature">
                    <li class="p-card__feature-item tx-500">Access to over <strong>5000</strong> publications</li>
                    <hr/>
                    <li class="p-card__feature-item tx-500">Curated stories by the News Club</li>
                    <hr/>
                    <li class="p-card__feature-item tx-500">Save and download your articles</li>
                    <hr/>
                    <li class="p-card__feature-item tx-500">Monthly membership fee, cancel anytime</li>
                    <!-- <li>stuff</li> -->
                    <!-- <li class="p-card__feature-item">5 Mailboxes, 1 Docs site</li>
                    <li class="p-card__feature-item">Reports (full history)</li>
                    <li class="p-card__feature-item">Automated Workflows</li>
                    <li class="p-card__feature-item">Satisfaction Ratings</li>
                    <li class="p-card__feature-item">API and 50+ integrations</li> -->
                </ul>
            </div>
            <div class="p-card__footer2">
                <%= form_tag subscriptions_path do %>
                <%= hidden_field_tag 'plan_id', @plan1.id %>
                <%= submit_tag 'Subscribe to REGULAR', class: "mdl-button mdl-js-button mdl-button--raised mdl-button--colored" %>
                <% end %>
            </div>
        </div>
        <!-- <div class="center-plan4 mdl-shadow--2dp"> -->
          <div class ="plan-card mdl-shadow--2dp">
            <div class="p-card-heading">
                <div class="p-card__title">More</div>
                <div class="p-card__price"><span class="currency">10</span>€</div>
                <div class="p-card__per">25 Articles / month</div>
                <div class="p-card__separator"></div>
            </div>
            <div class="p-card__body">
                <ul class="p-card__feature">
                    <li class="p-card__feature-item tx-500">Access to over <strong>5000</strong> publications</li>
                    <hr/>
                    <li class="p-card__feature-item tx-500">Curated stories by the News Club</li>
                    <hr/>
                    <li class="p-card__feature-item tx-500">Save and download your articles</li>
                    <hr/>
                    <li class="p-card__feature-item tx-500">Monthly membership fee, cancel anytime</li>
                    <hr/>
                    <li class="p-card__feature-item tx-500">Best value deal</li>
                </ul>
            </div>
            <div class="p-card__footer">
                <%= form_tag subscriptions_path do %>
                <%= hidden_field_tag 'plan_id', @plan2.id %>
                <%= submit_tag 'Subscribe to MORE', class: "mdl-button mdl-js-button mdl-button--raised mdl-button--colored" %>
                <% end %>
            </div>
        </div>
    </div>
</div>
</div>
