<div class="subscription">
    <div id="trapezoid-c"></div>
    <div id="trapezoid-m"></div>
    <div id="trapezoid-y"></div>
    <h2>Welcome to The News Club</h2>
    <br>
    <h4>Please choose a plan:</h4>
    <style>
    .demo-card-square.mdl-card {
        width: 420px;
        height: 320px;
        margin: 10px;
    }

    .demo-card-square>.mdl-card__title {
        color: #fff;
        background:
            url('../assets/demos/dog.png') bottom right 15% no-repeat #46B6AC;
    }
    </style>
    <div class="plan-container">
        <div class="demo-card-square mdl-card mdl-shadow--2dp">
            <div class="mdl-card__title mdl-card--expand">
                <h2 class="mdl-card__title-text"></h2>
                <h5>5€ for 10 Articles/month
                </h5>
            </div>
            <div class="mdl-card__supporting-text">
                hfuifnpoiwvnkioewcjopewklco+pewmop+
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <!-- <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"> -->
                <%= form_tag subscriptions_path do %>
                <%= hidden_field_tag 'plan_id', @plan1.id %>
                <%= submit_tag 'Purchase', class: 'btn btn-primary' %>
                <% end %>
                <!-- </a> -->
            </div>
        </div>
        <div class="demo-card-square mdl-card mdl-shadow--2dp">
            <div class="mdl-card__title mdl-card--expand">
                <h2 class="mdl-card__title-text"></h2>
                <h5>

                </h5>
            </div>
            <div class="mdl-card__supporting-text">
                hfuifnpoiwvnkioewcjopewklco+pewmop+
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <!-- <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"> -->
                <%= form_tag subscriptions_path do %>
                <%= hidden_field_tag 'plan_id', @plan2.id %>
                <%= submit_tag 'Purchase', class: 'btn btn-primary' %>
                <% end %>
                <!--  </a> -->
            </div>
        </div>
    </div>
</div>
